.libs
.deps
autom4te.cache
*.[ao]
*.la
*.lo
*.Plo
*.loT
*~
*/cov-html/*

.#*
traces.*
output.*
Makefile
Makefile.in
libtool
INSTALL

ltmain.sh
missing
install-sh
depcomp
configure
config.sub
config.guess
aclocal.m4

semantic.cache
*_SK.cc
*_iSK.cc
*_SK.h
uniset-config.h
uniset-config.h.in
include/extensions

stamp-h1
config.status
config.log
compile
#binaries
#links to configure

.nfs*
*.pc
docs/html/*
include/*_i.hh

docs/UniSetDox.cfg
docs/UniSetDoxDevel.cfg
extensions/IOControl/uniset-iocalibr
extensions/IOControl/uniset-iocontrol
extensions/IOControl/uniset-iotest
extensions/LogicProcessor/uniset-logicproc
extensions/LogicProcessor/uniset-plogicproc
extensions/RTUExchange/mtrconv
extensions/RTUExchange/rtustate
extensions/RTUExchange/uniset-rtuexchange
extensions/RTUExchange/vtconv
extensions/SharedMemory/uniset-smemory

extensions/MBTCPMaster/uniset-mbtcpmaster
extensions/ModbusSlave/uniset-mbslave
extensions/SMViewer/uniset-smviewer
extensions/SharedMemory/stop.sh
extensions/SharedMemory/test.xml

extensions/include

Utilities/codegen/tests/TestGen-main.cc
Utilities/codegen/tests/test
Utilities/codegen/uniset3-codegen

Utilities/Admin/alarm
Utilities/Admin/anotify
Utilities/Admin/create
Utilities/Admin/dnotify
Utilities/Admin/exist
Utilities/Admin/finish
Utilities/Admin/foldUp
Utilities/Admin/getCalibrate
Utilities/Admin/getRawValue
Utilities/Admin/getState
Utilities/Admin/getValue
Utilities/Admin/help
Utilities/Admin/info
Utilities/Admin/logrotate
Utilities/Admin/msgmap
Utilities/Admin/oinfo
Utilities/Admin/omap
Utilities/Admin/saveState
Utilities/Admin/saveValue
Utilities/Admin/setState
Utilities/Admin/setValue
Utilities/Admin/start
Utilities/Admin/stop.sh
Utilities/Admin/test.xml
Utilities/Admin/uniset3-admin
Utilities/Admin/uniset-functions.sh
Utilities/Admin/uniset-start.sh
*/cov-html/*

Utilities/DBServer-MySQL/uniset-mysql-dbserver
Utilities/InfoServer/uniset-infoserver
Utilities/JrnTests/jrntest
Utilities/JrnTests/table.test

Utilities/NullController/uniset3-nullController

Utilities/MBTester/uniset3-mbrtuslave-echo
Utilities/MBTester/uniset3-mbrtutest
Utilities/MBTester/uniset3-mbtcpserver-echo
Utilities/MBTester/uniset3-mbtcptest

Utilities/SImitator/uniset3-simitator

Utilities/SMonit/uniset3-smonit
Utilities/SViewer-text/uniset3-sviewer-text

Utilities/ULog/uniset3-log
Utilities/ULog/uniset3-log-stdin
Utilities/ULog/uniset3-log2val
Utilities/ULog/uniset3-logserver-wrap
Utilities/ULog/uniset3-test-logserver

extensions/RTUExchange/mtr-conv
extensions/RTUExchange/mtr-setup
extensions/SharedMemory/smemory.log
extensions/SharedMemory/uniset-functions.sh
extensions/SharedMemory/uniset-start.sh
extensions/UniNetwork/uniset-network
extensions/DBServer-MySQL/mysql-test
extensions/DBServer-MySQL/uniset3-mysql-dbserver
extensions/DBServer-PostgreSQL/pgsql-test
extensions/DBServer-PostgreSQL/uniset3-pgsql-dbserver
extensions/DBServer-SQLite/sqlite-test
extensions/DBServer-SQLite/uniset3-sqlite-dbserver
extensions/IOControl/uniset3-iocalibr
extensions/IOControl/uniset3-iocontrol
extensions/IOControl/uniset3-iotest
extensions/LogicProcessor/tests/atconfig
extensions/LogicProcessor/tests/tests
extensions/LogicProcessor/uniset3-logicproc
extensions/LogicProcessor/uniset3-plogicproc
extensions/ModbusMaster/tests/atconfig
extensions/ModbusMaster/tests/run_test_mbtcpmaster
extensions/ModbusMaster/tests/run_test_mbtcpmultimaster
extensions/ModbusMaster/uniset3-mbtcpmaster
extensions/ModbusMaster/uniset3-mbtcpmultimaster
extensions/ModbusMaster/uniset3-mtr-conv
extensions/ModbusMaster/uniset3-mtr-read
extensions/ModbusMaster/uniset3-mtr-setup
extensions/ModbusMaster/uniset3-rtu188-state
extensions/ModbusMaster/uniset3-rtuexchange
extensions/ModbusMaster/uniset3-vtconv
extensions/ModbusSlave/tests/atconfig
extensions/ModbusSlave/tests/tests-with-sm
extensions/ModbusSlave/uniset3-mbslave
extensions/ModbusSlave/uniset3-mbtcp-persistentslave
extensions/RRDServer/uniset3-rrdserver
extensions/SMViewer/uniset3-smviewer
extensions/SharedMemory/tests/atconfig
extensions/SharedMemory/tests/tests
extensions/SharedMemory/uniset3-smemory
extensions/SharedMemoryPlus/uniset3-smemory-plus
extensions/UNetUDP/tests/atconfig
extensions/UNetUDP/tests/tests-with-sm
extensions/UNetUDP/uniset3-unet-udp-tester
extensions/UNetUDP/uniset3-unetexchange
extensions/UniNetwork/uniset3-network
extensions/tests/atconfig
extensions/tests/sm_perf_test
extensions/tests/tests
extensions/tests/tests_with_conf
extensions/tests/tests_with_sm

tests/conftest
tests/passivetimer
tests/stop.sh
tests/test.out.xml
tests/test.out.xml.bak
tests/test.xml
tests/ui
tests/umutex
tests/unixml
tests/atconfig
tests/develop
tests/tests
tests/tests_with_conf
testsuite/atconfig

*